<template name="register">
    <div class="content-background">
        <div class="uk-section-large">
            <div class="uk-container uk-container-large">
                <div uk-grid class="uk-child-width-1-1@s uk-child-width-2-3@l">
                    <div class="uk-width-1-1@s uk-width-1-5@l uk-width-1-3@xl"></div>
                    <div class="uk-width-1-1@s uk-width-3-5@l uk-width-1-3@xl">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-header">
                                Register Page
                            </div>
                            <div class="uk-card-body">
                                <center>
                                    <h2>UI Admin</h2><br />
                                </center>
                                <form id='new-user-form' class="text-left">
                                    <div class="uk-margin uk-margin-top">
                                        <div class="uk-form-label text-white" style="color: white; font-size: 25px; margin-left: 115px;"><strong>Sign Up For Free</strong></div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                            <label class="text-white"><input class="uk-radio" type="radio" name="role" value="investor" checked> Investor</label>
                                            <label class="text-white"><input class="uk-radio" type="radio" name="role" value="accommodation"> Accommodation</label>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon cota-form-icon" uk-icon="icon: user"></span>
                                            <input class="uk-input uk-form-width-large input-round-2" type="tel" name="username"  placeholder="Enter Phone" data-onblur data-alphanumeric data-required>
                                            <span class="err-msg text-white"></span>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon cota-form-icon" uk-icon="icon: lock"></span>
                                            <input class="uk-input uk-form-width-large input-round-2" type="text" name="password"  placeholder="Enter password" data-onblur data-required data-min=6>
                                            <span class="err-msg text-white"></span>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon cota-form-icon" uk-icon="icon: lock"></span>
                                            <input class="uk-input uk-form-width-large input-round-2" type="text" name="confirm_password"  placeholder="Enter confirm password" data-onblur data-required data-min=6>
                                            <span class="err-msg text-white"></span>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <button type="submit" class="uk-button uk-button-primary input-round-2">Sign Up</button>
                                    </div>
                                    <div class="uk-margin">
                                        <p>
                                            If you already have an account
                                            <a href="/login" id="at-signIn" class="at-link at-signin">sign in</a>
                                        </p>
                                    </div>
                                </form>  
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1@s uk-width-1-5@l uk-width-1-3@xl"></div>
                </div>
            </div>
        </div>
    </div>
</template>