<template name="province_record">
    <div class="content-padder content-background">
        <div class="uk-section-small uk-section-default header">
            <div class="uk-container uk-container-large">
                <h1><span class="ion-speedometer"></span> Province</h1>
                <ul class="uk-breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><span href="">Sample</span></li>
                </ul>
            </div>
        </div>
        <div class="uk-section-small">
            <div class="uk-container uk-container-large">
                <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-1@l">
                    {{#autoForm collection=Collection doc=provinceDoc id="Province" type=manageType}}
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 mb-2">
                                {{> afQuickField name='name'}}
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 mb-2">
                                {{> afQuickField name='view_order'}}
                            </div>
                        </div><br/>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                                {{#if provinceDoc}}
                                <button type="submit" class="btn btn-primary btn-sm" id="btn-Update"><i class="fa fa-pencil-square-o"></i> Update</button>
                                {{else}}
                                <button type="submit" class="btn btn-primary btn-sm" id="btn-save"><i class="fa fa-save"></i> Save</button>
                                {{/if}}
                            </div>
                        </div>
                    {{/autoForm}}
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-header">
                               Sample Data
                            </div>
                            <div class="uk-card-body">
                                {{> tabular table=TabularTables.provinceListTable class="table table-default table-striped table-bordered table-condensed"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>