<template name="_header">
   <div uk-sticky class="uk-navbar-container tm-navbar-container uk-active">
      <div class="uk-container uk-container-expand">
            <nav uk-navbar>
               <div class="uk-navbar-left">
                  <a id="sidebar_toggle" class="uk-navbar-toggle" uk-navbar-toggle-icon ></a>
                  <a href="#" class="uk-navbar-item uk-logo">
                     Mini POS
                  </a>
               </div>
               <div class="uk-navbar-right uk-light">
                  <ul class="uk-navbar-nav">
                        <li class="uk-active">
                           <a href="#">Profile &nbsp;<span class="ion-ios-arrow-down"></span></a>
                           <div uk-dropdown="pos: bottom-right; mode: click; offset: -17;">
                              <ul class="uk-nav uk-navbar-dropdown-nav">
                                 <!-- <li class="uk-nav-header">Options</li>
                                 <li><a href="#">Edit Profile</a></li>
                                 <li class="uk-nav-header">Actions</li>
                                 <li><a href="#">Lock</a></li> -->
                                 <li><a href="/logout">Logout</a></li>
                              </ul>
                           </div>
                        </li>
                  </ul>
               </div>
            </nav>
      </div>
   </div>
   <div id="sidebar" class="tm-sidebar-left uk-background-default">
      <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header">
               Menu
            </li>
            <li><a href="/buttons">Buttons</a></li>
            <li><a href="/components">Components</a></li>
            <li><a href="/table">Tables</a></li>
            <!-- <li class="uk-nav-header">
               Pages
            </li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/article">Article</a></li>
            <li><a href="/404">404</a></li> -->
      </ul>
   </div>
</template>