<template name="_footer">
      <!-- ***** Footer Start ***** -->
      <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; 2022 COTA Team </p>
                </div>
            </div>
        </div>
    </footer>
</template>