<template name="profile">
    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">
        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-md-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-12 order-lg-1 mb-5 mb-lg-0">
                            <div class="row">
                                {{#autoForm collection=Collection doc=ProfileDoc autosave=false id="profileForm" type=manageType}}
                                <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                                    {{> afQuickField name='name'}}
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                                    {{> afQuickField name='email'}}
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                                    {{#if ProfileDoc}}
                                        {{> afQuickField name='phone' readonly=true}}
                                    {{else}}
                                        {{> afQuickField name='phone' value=resultOption.username readonly=true}}
                                    {{/if}}
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                                    {{> afQuickField name='gender'}}
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                                    {{> afQuickField name='address'}}
                                </div>
                                <br>
                                <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                                    {{#if ProfileDoc}}
                                    <button type="submit" class="btn btn-block btn-success btn-sm"><i class="fa fa-save"></i>
                                        Update</button>
                                    {{else}}
                                    <button type="submit" class="btn btn-block btn-success btn-sm"><i class="fa fa-save"></i>
                                        Save</button>
                                    {{/if}}
                                </div>
                                {{/autoForm}}
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
</template>