<template name="login">
    <div class="content-background">
        <div class="uk-section-large">
            <div class="uk-container uk-container-large">
                <div uk-grid class="uk-child-width-1-1@s uk-child-width-2-3@l">
                    <div class="uk-width-1-1@s uk-width-1-5@l uk-width-1-3@xl"></div>
                    <div class="uk-width-1-1@s uk-width-3-5@l uk-width-1-3@xl">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-header">
                                Login Page
                            </div>
                            <div class="uk-card-body">
                                <center>
                                    <h2>UI Admin</h2><br />
                                </center>
                                <form method="POST">
                                    <fieldset class="uk-fieldset">

                                        <div class="uk-margin">
                                            <div class="uk-position-relative">
                                                <span class="uk-form-icon ion-android-person"></span>
                                                <input name="email" class="uk-input" type="email" placeholder="Email">
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <div class="uk-position-relative">
                                                <span class="uk-form-icon ion-locked"></span>
                                                <input name="password" class="uk-input" type="password" placeholder="Password">
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <a href="#">Forgot your password?</a>
                                        </div>

                                        <div class="uk-margin">
                                            <button type="submit" class="uk-button uk-button-primary">
                                                <span class="ion-forward"></span>&nbsp; Login
                                            </button>
                                        </div>

                                        <hr />

                                        <center>
                                            <p>
                                                You don't have an account yet?
                                            </p>
                                            <a href="register.html" class="uk-button uk-button-default">
                                                <span class="ion-android-person-add"></span>&nbsp; Register
                                            </a>
                                        </center>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1@s uk-width-1-5@l uk-width-1-3@xl"></div>
                </div>
            </div>
        </div>
    </div>
</template>