<template name="notFound">
    <div class="content-background">
        <div class="uk-section-large">
            <div class="uk-container uk-container-large">
                <div uk-grid class="uk-grid-collapse uk-grid-match uk-child-width-1-1@s uk-child-width-1-4@l">
                    <div></div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            <h1 class="uk-heading-primary uk-text-middle">404</h1>
                            Page not found
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-primary uk-card-body">
                            <h3 class="uk-card-title">What is this page</h3>
                            <p>
                                Sometimes things go wrong and you get lost, the content you
                                are trying to see does not exist or is no longer visible. Please
                                contact the administrator if you belive it's an error.
                            </p>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</template>