<template name="MainLayout">
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>  
  <!-- ***** Preloader End ***** -->
    <div class="wrapper">
      {{#if routPrivate}}
        {{> _header}}
      {{/if}}
      
      {{> yield}}
      <!-- {{> _footer}} -->
      </div>
</template>