<template name="sample">
  <form id='new-user-form' class='validate'>
    <div class="form-group">
      <input type="text" name="fullname" data-onblur data-required>
      <span class='err-msg'></span>
      <!-- min  -->
      <input type="password" data-onblur data-min=6>
      <!-- max -->
      <input type="password" data-onblur data-max=140>
      <!-- numberic  -->
      <input type="password" data-onblur data-alphanumeric>
      <!-- email -->
      <input type="email" data-onblur data-email>
      <!-- zip code  -->
      <input type="text" data-onblur data-zip>
      <input name="lastn" type="text" data-onblur data-alphanumeric data-msg="Last name can only have [A-Z] [0-9] characters">
      
      <input type="submit"  value="Submit">
    </div>
  </form>     
</template>
